body {
  width: 100vw;
  background-color: rgb(48,47,49);
  height: 100vh;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: row;
}
.nav {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
li {
  display: flex;
  font-size: 30px;
  }
.list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: calc(100vw - 140px);
    height: 90px;
  }
.Link {
  display:inline-block;
  margin-left:10px;
  color: rgb(15, 154, 235);
  text-decoration: none;
  }
.list :hover {
  color: white;
  text-decoration: none;
}
.image {
  width: 90px;
  height: 90px;
  padding-left: 50px;
}
footer {
  display: flex;
  justify-content: center;
  height: 50px;
}
.Movies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  transition: all 1s;
}
.Movies :hover {
  transform: scale(1.05);
}
.mylist {
  color: white;
}
.title, .genre {
  background-color: rgb(51,51,56);
  color: white;
  display: flex;
  align-items: flex-end;
  
}

.trailer {
  width: 700px;
  height: 500px;

}

.movie{
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  box-shadow: 2px 2px 4px black;
  margin: 20px;  
}