body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      139deg,
      hsla(209.66, 99.79%, 44.09%, 1) 0%,
      hsla(209.66, 99.79%, 44.09%, 0) 65%
    ),
    linear-gradient(
      135deg,
      hsla(255.85, 69.81%, 14.3%, 1) 0%,
      hsla(255.85, 69.81%, 14.3%, 0) 70%
    ),
    linear-gradient(
      25deg,
      hsla(251.32, 72.41%, 15.49%, 1) 10%,
      hsla(251.32, 72.41%, 15.49%, 0) 80%
    ),
    linear-gradient(
      315deg,
      hsla(235.47, 61.86%, 17.5%, 1) 15%,
      hsla(235.47, 61.86%, 17.5%, 0) 80%
    ),
    linear-gradient(
      245deg,
      hsla(251.96, 92.95%, 44.85%, 1) 100%,
      hsla(251.96, 92.95%, 44.85%, 0) 70%
    );
}
.container {
  display: flex;
  flex-direction: row;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}
li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  font-size: 30px;
}
.list {
  display: flex;
  flex-direction: row;
}
.image {
  width: 90px;
  height: 90px;
}
#input {
  padding: 35px;
  }
footer {
  display: flex;
  justify-content: center;
  height: 50px;
}
.Movies{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin:10px;
  padding:10px;
  
  
}
